<main>
  <xxx-content contentKey="{{contentKey}}"></xxx-content>
  @if ($content(); as content) {
    <section>
      <h2>{{ content?.contentModel?.pageTitle }}</h2>
    </section>
    @if ($isUsersLoading()) {
      <p>Loading...</p>
    } @else if ($isUsersEmpty()) {
      <p>None found.</p>
    }
    @if ($isUsersLoaded()) {
      <section>
        <h3>{{ content?.contentModel?.bodyText }}</h3>
        <table class="xxx-table">
          <tr>
            <th class="xxx-table-cell-header">ID</th>
            <th class="xxx-table-cell-header">First Name</th>
            <th class="xxx-table-cell-header">Last Name</th>
          </tr>
          @for (user of $users(); track user.id) {
            <tr class="xxx-table-row"
                [class.active]="($selectedUserId())===user.id"
                (click)="rowClick(user)">
              <td class="xxx-table-cell">{{ user.id }}</td>
              <td class="xxx-table-cell">{{ user.firstName }}</td>
              <td class="xxx-table-cell">{{ user.lastName }}</td>
            </tr>
          }
        </table>
      </section>
    }
  }
</main>
